<template>
  <div class="about pa-6">
    <h1>Memory Box</h1>
    <ul>
      <li>Made by  : Tran Quang Lujc</li>
      <li>Language : JS (VueJS)</li>
      <li>Advisor  : Mr. Huy (Fujinet), Mr. Ly (Fujinet), Mr. Danny (Youtuber)</li>

    </ul>
  </div>
</template>
